.container {
  width: 100%;
  max-width: 400px;
  margin: 40px auto;
  padding: 2rem;
  background-color: #1e293b;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(59, 130, 246, 0.2);
  font-family: "Segoe UI", sans-serif;
  text-align: center;
}

.mylabel{
  display: block;
  margin-bottom: 1rem 0 0.5rem;
  font-weight: 600;
  color:#333;
}

.container input{
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 18px;
  border: none;
  border-radius: 8px;
  font-size:1rem;
  transition: 0.3s ease;
}

.container input:focus {
  outline: none;
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(79,70,229,0.2);
}

/* Button */
.container button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #4f46e5, #6366f1);
  color:white;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor:pointer;
  transition: 0.3s ease;
}

.container button:hover {
  background: linear-gradient(135deg, #4338ca, #4f46e5);
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(79, 70,229,0.3);
}

.container button:active {
  transform: translateY(0);
  box-shadow: 0 3px 8px rgba(79, 70, 229, 0.2);
}

